#target{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    background-color: rgba(76, 129, 173,0.1);
    width: 80vw;
    position: center;
    justify-content: space-evenly;
    color: black;
    flex-wrap: wrap;

}
.days{
    display: block;
    float: left;
    border-style: solid;
    background-color: rgba(76, 129, 173,0.8);
    color: black;
    margin-top: 50px;
    width: 25%;


}

.buttonWrapper{
    margin: auto;
    justify-content: center;
    align-content: center;
    display: block;
    background-color: rgba(76, 129, 173,0.1);
    width: 20%;

}

#title{
    background-color: rgba(76, 129, 173,0.1);
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    flex: auto;

    color: black;
}

body{
    background-image: url("Images/seamless-weather-forecast-background-vector-2000781.jpg");
    color: black;
}
.bigframe{
    margin: auto;
    width: 80%;
    background-color: rgba(76, 129, 173,0.1);
    color: black;

}